{% extends 'base.html.twig' %}

{% block title %}CRFM - {% trans %}Edit user{% endtrans %}{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}
    {% block javascripts %}
        {{ encore_entry_script_tags('planning-edit') }}
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('planning-edit') }}
    {% endblock %}


    <div class="container">
        <h1><strong>{% trans %}Modify{% endtrans %}</strong> {% trans %}user{% endtrans %}
            <strong>{{ user.username }}</strong></h1>
        {{ form(form) }}
        {% if delete %}
            <a class="btn btn-outline-danger btn-delete"
               href="{{ path('admin_user_delete', {'username': user.username}) }}">{% trans %}Remove{% endtrans %}</a>
        {% endif %}
    </div>


{% endblock %}
