{% extends 'base.html.twig' %}

{% block title %}CRFM - {% trans %}Manage users{% endtrans %}{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}
    <div class="container">
        <h1>{% trans %}Manage users{% endtrans %}</h1>
        <a href="{{ path('admin_register') }}" class="btn btn-success">{% trans %}Add user{% endtrans %}</a><br/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom d'affichage</th>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.displayName }}</td>
                    <td>{{ user.username }}</td>
                    <td><a href="{{ path('admin_user_edit', {"username": user.username}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
