{% extends 'base.html.twig' %}

{% block title %}{% trans %}My profile{% endtrans %}{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <div class="container login">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">{% trans %}My profile{% endtrans %}</h1>
        <h4>{{ app.user.formattedName }} ({{ app.user.username }})</h4>
        {% if app.user.isAdmin %}
            <h5 class="admin_marker">{% trans %}Administrator{% endtrans %}</h5>
        {% endif %}

        <form method="post" action="{{ path("app_chginfo") }}">

            <div class="form-group">
                <label for="inputEmail">{% trans %}Email{% endtrans %}</label>
                <input type="text" value="{{ app.user.email }}" name="email" id="inputEmail" class="form-control"
                       required>
            </div>
            <div class="form-group">
                <label for="inputCellphone">{% trans %}Cellphone{% endtrans %}</label>
                <input type="text" value="{{ app.user.cellphone }}" name="cellphone" id="inputCellphone"
                       class="form-control"
                       required>
            </div>

            <div class="form-group">
                <label for="inputPhone">{% trans %}Phone{% endtrans %}</label>
                <input type="text" value="{{ app.user.phone }}" name="phone" id="inputPhone" class="form-control"
                       required>
            </div>
            <div class="form-group">
                <label for="inputAddress">{% trans %}Address{% endtrans %}</label>
                <textarea class="form-control" name="address" id="inputAddress">{{ app.user.address }}</textarea>
            </div>
            <button class="btn btn-primary" type="submit">
                {% trans %}Change infos{% endtrans %}
            </button>
        </form>
        <br>

        <form method="post" action="{{ path('app_chgpassword') }}">
            <div class="form-group">
                <label for="inputPrevPassword">{% trans %}Previous password{% endtrans %}</label>
                <input type="text" name="ancPassword" id="inputPrevPassword" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="inputNewPassword">{% trans %}New password{% endtrans %}</label>
                <input type="text" name="newPassword" id="inputNewPassword" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="inputNewConfPassword">{% trans %}Confirm new password{% endtrans %}</label>
                <input type="text" name="confNewPassword" id="inputNewConfPassword" class="form-control" required>
            </div>

            <button class="btn btn-primary" type="submit">
                Changer son mot de passe
            </button>
        </form>
    </div>
{% endblock %}
