{% extends 'base.html.twig' %}

{% block title %}CRFM - Planning{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('planning-modify') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('planning-modify') }}
{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}

    <div class="container">
        <form method="post" action="{{ path('admin_event_modify', {'id': event.id}) }}">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal"><strong>Modifier</strong> un évenement</h1>
            <h4>Evenement n°<strong>{{ event.id }}</strong></h4>
            <h4></h4>
            <div class="form-group">
                <label for="av_start">Début de l'évenement</label>
                <input type="text" name="start" id="av_start" class="form-control"
                       value="{{ availability.start.format(time_format) }}" required>
            </div>
            <div class="form-group">
                <label for="av_stop">Fin de l'évenement</label>
                <input name="stop" id="av_stop" class="form-control" value="{{ event.stop.format(time_format) }}"
                       required>
            </div>

            <a class="btn btn-danger" href="{{ path('planning') }}">Annuler</a>
            <button class="btn btn-primary" type="submit">
                Valider
            </button>
            <a class="btn btn-outline-danger btn-delete" href="{{ path('planning_delete', {'id': availability.id}) }}">Supprimer</a>
        </form>
    </div>

{% endblock %}
