{% set knowTopic = topicActive is defined %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CRF-Manager</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('planning') }}">{% trans %}My planning{% endtrans %}{% if knowTopic and topicActive == "planning" %}
                        <span
                                class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% if app.user is not null and app.user.admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans %}Admin{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{{ path('admin_timeline') }}">{% trans %}Timeline{% endtrans %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ path('admin_user_view') }}">{% trans %}Manage users{% endtrans %}</a>
                        <a class="dropdown-item"
                           href="{{ path('admin_skill_view') }}">{% trans %}Manage skills{% endtrans %}</a>

                    </div>
                </li>
            {% endif %}
            {% if app.user is not null and app.user.hyperAdmin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('hyper_admin') }}">HyperAdmin</a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% if app.user is not null %}
        <a href="{{ path('user_profil') }}">
            <span class="navbar-text font-weight-bold">{{ app.user.displayName }}</span>
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">{% trans %}Disconnect{% endtrans %}</a>
            </li>
        </ul>
    {% else %}
        <a href="{{ path('app_login') }}">
            <span class="navbar-text font-weight-bold">{% trans %}Login{% endtrans %}</span>
        </a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


</nav>