{% extends 'base.html.twig' %}

{% block title %}CRFM - {% trans %}Manage skills{% endtrans %}{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}
    <div class="container">
        <h1>{% trans %}Manage skills{% endtrans %}</h1>
        <a href="{{ path('admin_skill_new') }}" class="btn btn-success">{% trans %}Add skill{% endtrans %}</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}Title{% endtrans %}</th>
                <th scope="col">{% trans %}Description{% endtrans %}</th>
                <th scope="col">{% trans %}Action{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr id="tr-{{ skill.id }}">
                    <td>{{ skill.id }}</td>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.description }}</td>
                    <td><a href="{{ path('admin_skill_edit', {'id': skill.id}) }}"
                           class="btn btn-success">{% trans %}Modify{% endtrans %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
