{% extends 'base.html.twig' %}

{% block title %}CRFM - Planning{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('planning-modify') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('planning-modify') }}
{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}

    <div class="container">
        <form method="post" action="{{ path('admin_skill_modify', {'id': skill.id}) }}">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal"><strong>Modifier</strong> un évenement</h1>
            <h4>Compétence n°<strong>{{ skill.id }}</strong></h4>
            <h4></h4>
            <div class="form-group">
                <label for="av_name">Nom</label>
                <input type="text" name="name" class="form-control" value="{{ skill.name }}" required>
            </div>
            <div class="form-group">
                <label for="av_start">Description</label>
                <textarea class="form-control" name="description" required>{{ skill.description }}</textarea>
            </div>

            <a class="btn btn-danger" href="{{ path('admin_skill_list') }}">Annuler</a>
            <button class="btn btn-primary" type="submit">
                Valider
            </button>
            <a class="btn btn-outline-danger btn-delete" href="{{ path('admin_skill_delete', {'id': skill.id}) }}">Supprimer</a>
        </form>
    </div>

{% endblock %}
